.page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-default);
}

.message {
  color: var(--text-faint);
}

.errorPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-default);
  gap: 1rem;
}

.errorMessage {
  color: var(--danger-default);
  font-size: 1.125rem;
}
